/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require font-awesome.min
*= require_self
*/

body {
    min-height: 100%;
    /*background: #fff url(../images/rasta.gif) no-repeat right 0 bottom -340px;
    background-attachment: fixed;*/
    padding-bottom: 70px;
}

@media screen and (max-width: 480px) {
    .no-show-onphone {
        display: none;
    }

}

img.imgband {
    max-height: 100px;
    max-width: 100px;
}

img.imgwarrior {
    max-height: 55px;
    max-width: 55px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
    border: 2px solid #fff;
}